body{
    color: rgb(179, 150, 179);
    background: rgb(165, 210, 236);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(70, 90, 102);
    padding: 20px;
    font-size: 32px;
    color: rgb(70, 90, 102);
}

section {
    background: rgb(105, 142, 153);
    padding-bottom: 80px;
    pading-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {

    margin-right: 5%;
}